/* account */
#account .jumbotron {
    min-height: 200px;
    background-color: #fff;
}

/* account - sidebar */
[data-toggle="collapse"][aria-expanded="true"] > .bi-arrow-down-short:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#view-sidebar {
    position: sticky;
    top: 70px;
}

#sidebar .list-group-item.active {
    background-color: #fff !important;
    border-top: none;
}

#sidebar .list-group-item {
    color: #4169E1;
}

#sidebar .list-group-item:hover {
    border-bottom: solid 1px #4169E1 !important;
    text-decoration: none;
}

/* account - page mon compte */
#compte a {
    color: #4169E1;
}
/* account - page commandes */
#commands .list-group-item {
    color: #4169E1;
    border-color: #4169E1;
}