@media (min-width:992px) {
    #navbar-docs {
        display: block !important;
    }
    .admin-logout {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    #nav-tabContent,
    #create_update {
        margin-left: 240px;
    }
    .uploaded-image{
        width:100px;
    }
}
@media (max-width: 992px) {
    .navbar-admin {
        margin-left: 0 !important;
        z-index: 3;
    }
    #navbar-docs {
        margin-top: 74px;
        width: 100% !important;
    }
    #nbChar {
        position: relative !important;
        right: 0 !important;
        bottom: 30px !important;
    }
}