/** Admin **/
.navbar-admin {
    margin-left: 240px;
}

#navbar-docs {
    width: 240px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: #4169E1;
}

/* sidebar-admin */
#navbar-docs .active {
    color: #fff;
    background-color: #303030;
    border-color: #ecebeb;
}

.admin-logout {
    padding: 1rem;
}

#nav-tabContent {
    overflow: hidden;
}

/* dashboard */
#admin_dashboard,
#admin_users,
#admin_categories,
#admin_articles {
    background-color: #303030;
    color: #fff;
    margin-bottom: 40px;
}
#admin_users,
#admin_categories,
#admin_articles {
    min-height: 240px;
}
#admin_categories,
#admin_articles {
    padding-left: 15px;
}

.case-content {
    margin-top: 2.5rem;
    padding-left: 10px;
}

/* rules */
#roles tbody td {
    border-color: #ecebeb;
}

/* users */
#view-users .card-header {
    border-bottom: 2px solid #ecebeb;
}
#view-users thead th,
#roles thead th {
    border-bottom: 1px solid #ecebeb;
}
#view-users form .d-inline-block {
    vertical-align: middle;
    margin-right: .5rem;
}

/* categories */
#view-subcat > .card {
    margin-bottom: 20px;
}
#view-subcat tbody > tr {
    border-top: 2px solid #ecebeb;
}

/* articles */
#view-articles > .row {
    background-color: #5C5C5C;
    border-top: 1px solid #ecebeb;
}
#view-articles > .row:hover {
    background-color: rgba(255,255,255,.075);
}
#view-articles .article-title,
#view-articles .article-badge {
    position: absolute;
    left: 0;
    margin-left: 20px;
    margin-bottom: 0;
}
#view-articles .article-title {
    top: 0;
}
#view-articles .article-badge {
    bottom: 0;
}

/* create / update page */
#create_update {
    padding: 3rem;
}

/* article update */
#nbChar {
    position: absolute;
    bottom: 0;
    right: 20px;
}
.delete-image {
    position: absolute;
    bottom: 0;
    right: 0;
}