/* article */
.image-secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-secondary > img {
    width: 100%;
}

.subcat {
    position: absolute;
    top: 0;
    right: 15px;
    border-radius: 0 0 0 .25rem;
}

.dispo {
    position: absolute;
    top: 15px;
    left: 30px;
    border-radius: 0 0 .25rem 0;
}

.article-price {
    font-size: 2rem !important;
}
.bi-cart-plus-fill,
.bi-cart-check-fill {
    font-size: 1.5rem;
}