@media (max-width:992px) {
    #logo-navbar{
        width:80px;
        height:80px
    }
    #profil > img {
        width: 80px;
        height: 56px;
    }
    a, i, label, p, span {
        font-size: 2rem;
    }
    .lead, h2, input, select, textarea {
        font-size: 3rem !important;
    }
    .form-control, .input-group-prepend, .input-group-append {
        margin-bottom: 2rem !important;
        box-shadow: 0 0 0 0.2rem #3030303F;
    }
    .lead, h2 {
        margin-bottom: 2rem !important;
        text-align: center;
    }
}