/** style specificities **/

/* fonts */
@font-face {
    font-family: "Bellerose";
    src: url("/assets/fonts/Bellerose.ttf") format("truetype");
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
}
/* all */
*{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-family: Lato, sans-serif;
}

body {
    height: 100%;
}

h1,h2,h3,#copyright {
    font-family: Bellerose, sans-serif;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

textarea {
    resize: none !important;
}
/* fil d'ariane */
.breadcrumb-item:first-child:before {
    content: none !important;
}
.breadcrumb-item:before {
    content: 'ᐳ' !important;
}
.breadcrumb-item a,
.card-text a {
    color: #4169E1 !important;
}
.breadcrumb-item a:hover,
.card-text a:hover {
    color: #36BAE0 !important;
}
/* btn-mca */
.btn-mca {
    position: relative;
    background-color: #fff !important;
    border-color: #4169E1 !important;
    color: #4169E1 !important;
    overflow: hidden;
}
.btn-mca:hover {
    border-color: #36BAE0 !important;
}
.btn-mca:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #36BAE0;
    height: 20px;
    width: 80%;
    transform-origin: bottom left;
    transform: translateX(-110%) rotate(45deg) skewX(-45deg);
    transition: transform .6s;
}
.btn-mca:hover:before {
    transform: translateX(110%) rotate(45deg) skewX(-45deg);
}
/* -primary- */
.bg-primary-mca,
.btn-primary,
.badge-primary {
    background-color: #4169E1 !important;
}
.text-mca-primary {
    color: #4169E1;
}
/* -danger- */
.bg-danger-mca,
.btn-danger,
.badge-danger {
    background-color: #D01345 !important;
}
.text-mca-danger {
    color: #D01345;
}
/* -dark- */
.bg-dark-mca,
.table-dark,
.btn-dark,
.badge-dark {
    background-color: #303030 !important;
}
.table-dark > tbody {
    background-color: #5C5C5C;
}

.table td {
    vertical-align: middle !important;
}

/* template */
.default-template {
    background: #ECEBEB;
}

.form-template {
      background:url("/assets/images/templates/LoginMCA.jpg") no-repeat center fixed;
    background-size: cover;
}
.container-login {
    margin-top:15%;
}
.form-template .form-row {
    padding: 0 30%;
}
.form-template input,
.form-template textarea {
    background-color: rgba(255,255,255,.6);
}

.account-template {
    background:url("/assets/images/templates/Accountimg.png") no-repeat center fixed;
    background-size: cover;
}

/* navbar */
#logo-navbar {
    width: 40px;
    height: 40px;
}
/* navbar - category */
.dropdown-menu {
    border-radius: 0 .25rem .25rem .25rem !important;
}

.nav-link > .dropdown-menu > .nav-link:hover {
    background-color: rgba(255,255,255,.075);
}
/* navbar - cart */
.cart {
    position: relative;
}
.cart > span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: .25rem;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
}
.cart i,
.removeToCart i {
    font-size: 2rem;
}
/* navbar - cart */
.bi-person-circle {
    font-size: 1.5rem;
}

#profil > img{
    width: 40px;
    height: 28px;
}
.banner {
    width: 100%;
}

/* footer */
.footer-fix {
    padding-top: 104px;
}
footer{
    position:absolute;
    bottom:0;
    width: 100%;
}
footer .list-group-item {
    background-color: transparent;
    color: white;
}
